@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
  color: #000;
  margin: 0;
  padding: 0;
  background: #F0F0F0;
  height: 100vh;
	&.wrong {
		background: $color-wrong;
	}
	&.correct {
		background: $color-correct;
	}
	font-size: 24px;
	@include mobile {
		font-size: 18px;
	}
}

button {
  background: none;
  border: none;
  letter-spacing: 2px;
  font-family: 'IBM Plex Mono', monospace;
  padding: 0;
	font-size: 1em;
  margin: 0;
  font-weight: 400;
  color: blue;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: gray;
  }
}
h1, h2, .menu-link, .counter {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 5vw;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 50%;
  line-height: 110%;
	@include mobile {
		width: auto;
		font-size: 9vw;
	}
}
h2, .counter, .menu-link {
  text-transform: uppercase;
}
.main-logo {
  margin-top: 2px;
	@include mobile { 
		position: absolute;
		left: 30px;
		top: 18px;
	}
}
.main-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
	justify-content: space-between;
	padding: 18px 30px 0;
	@include mobile { 
		display: block;
		padding-top: 56px;
	}
}
.menu-link {
	width: 100px;
  &:hover {
    color: gray;
  }
}
.counter {
	width: 100px;
  position: relative;
	text-align-last: right;
	@include mobile { 
		width: 77px;
		float: right;
	}
  &:before {
    content: url(../img/tr.svg);
    position: absolute;
    top: -4px;
    left: -15px;
  }
}
#game {
  margin: 0px;
	position: fixed;
	left: 30px;
	right: 30px;
	bottom: 0px;
	top: 59px;
	@include mobile {
		position: static;
		margin-top: 20px;
		padding: 0 30px;
		margin-bottom: 100px;
	}

	//overflow: hidden;
	.visible {
		display: block !important;
	}
  .question {
    display: none;
    img.option {
      max-width: 100%;
			max-height: 100%;
      //filter: invert(100%);
      //width: 256px;
    }
    .answer{
      display: none;
			.explanation{
				display: none;
        position: absolute;
				padding: 30px;
				margin: 0;
				background: rgba(0, 0, 0, 0.7);
        top: 0;
				color: white;
				font-size: 0.8em;
				@include mobile {
					position: static;
					color: black;
					padding: 0;
					margin: 0 0 100px 0;
					background: none;
				}
				& a {
					color: white !important;
					@include mobile {
						color: black !important;
					}
				}
				&.left {
          right: 50%;
          left: 0px;
          top: 0px;
				}
				&.right {
          left: 50%;
          right: 0px;
          top: 0px;
				}
			}
    }
  }
	#result, #intro{
		display: none;
		svg.background {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			fill: none;
			z-index: -1;
		}
	}
	#result {
		font-family: "IBM Plex Sans";
		h1 {
			font-size: 4.3vw;
			margin-top: 1.3vw;
			@include mobile {
				font-size: 2em;
			}
			.score-text {
				font-family: "IBM Plex Mono";
			}
		}
		p {
			max-width: 522px;
			margin-top: 0.7em;
			line-height: 1.1em;
		}
		button.restart {
			position: absolute;
			bottom: 9px;
			left: 0;
		}
	}
	#intro {
	}
  .optionSet {
    background: #000;
    //height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
		position: fixed;
		left: 30px;
		right: 30px;
		bottom: 50px;
		top: 59px;
		@include mobile {
			display: block;
			background: none;
			flex-direction: column;
			justify-content: space-between;
			bottom: auto;
			height: 60%;
			top: 69px;
			position: static;
		}
		a.card-link {
			height: 100%;
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-position: 50% 50%;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: #000;
			position: relative;
			@include mobile {
				height: 200px;
				width: 100%;
				display: block;
				margin-bottom: 20px;
			}
			&:before {
				content: '';
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 2;
			}
			body.answer-is-shown & {
				&.option-correct:before {
					background-image: url(../img/correct.png);
				}
				&.option-wrong:before {
					background-image: url(../img/wrong.png);
				}
			}
      &:hover {
        position: relative;
				&:after {
					content: ' ';
					position: absolute;
					left: 0;
					bottom: 0;
					top: 0;
					right: 0;
					background: white;
					opacity: 0.1;
				}
			}
    }
  }
	.title, button.next, button.restart {
		@include mobile { 
			position: fixed !important;
			bottom: 0 !important;
			left: 0;
			right: 0;
			height: 63px;
			background: $background;
			padding: 0px 30px;
			display: flex;
			align-items: center;
			box-sizing: border-box;
			body.wrong & {
				background: $color-wrong;
			}
			body.correct & {
				background: $color-correct;
			}
		}
	}
  button.next{
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    bottom: 10px;
		@include mobile {
			justify-content: flex-end;
			width: 100%;
			z-index: 1;
		}
		body.answer-is-shown & {
			color: black !important;
		}
  }
  .title {
    position: absolute;
		font-size: 1em;
    left: 0px;
    bottom: 10px;
  }
  .start {
    position: absolute;
    left: 0px;
    bottom: 10px;
    font-size: 70px;
		@include mobile { 
			font-size: 40px;
			left: 30px;
		}
	}
}

