---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bar-or-pie</title>
  <script src="/js/index.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/ilyabirman-likely@2/release/likely.min.css">
  <link rel="stylesheet" href='{{ "/css/main.css" | prepend: site.baseurl }}'>
	<link rel="shortcut icon" href="/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="http://bar-or-pie.dianov.org">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Bar or pie — проверь свою датавиз-гигиену">
	<meta property="og:description" content="Короткий тест с основными принципами визуализации данных.">
	<meta property="og:image" content="http://bar-or-pie.dianov.org/img/social.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Bar or pie — проверь свою датавиз-гигиену">
	<meta name="twitter:description" content="Короткий тест с основными принципами визуализации данных.">
	<meta name="twitter:image" content="http://bar-or-pie.dianov.org/img/social.jpg">
	<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(65006881, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/65006881" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body>
  {{ content }}
	<script src="https://unpkg.com/ilyabirman-likely@2/release/likely.min.js"></script>
</body>
</html>
