---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bar-or-pie</title>
  <script src="/js/index.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/ilyabirman-likely@2/release/likely.min.css">
  <link rel="stylesheet" href='{{ "/css/main.css" | prepend: site.baseurl }}'>
	<meta property="og:url" content="http://bar-or-pie.dianov.org">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Bar-or-pie">
	<meta property="og:description" content="%%%%%%%%%%%%%%%%%%%%%%">
	<meta property="og:image" content="http://bar-or-pie.dianov.org/img/social.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Bar-or-pie">
	<meta name="twitter:description" content="%%%%%%%%%%%%%%%%%%%%%%">
	<meta name="twitter:image" content="http://bar-or-pie.dianov.org/img/social.png">
</head>
<body>
  {{ content }}
	<script src="https://unpkg.com/ilyabirman-likely@2/release/likely.min.js"></script>
</body>
</html>
